@charset "UTF-8";
/* スライドメッセージ表示用 */
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  font-size: 16px;
  line-height: 40px; }

/* エラーメッセージ表示用 */
label.err input, label.err select {
  background: #f7dcd9; }

/* 画像ドロップ */
.form .area-drop {
  margin-bottom: 15px;
  width: 100%;
  height: 140px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  line-height: 150px;
  position: relative;
  box-sizing: border-box; }

.form .input-file {
  opacity: 0;
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる */ }

.form .prev-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.form .imgDrop-container {
  width: 33.333%;
  float: left;
  padding-right: 15px;
  box-sizing: border-box; }

.form .counter-text {
  text-align: right; }

/* お気に入りアイコン */
.icn-like {
  float: right;
  color: #ddd; }

.ecn-like:hover {
  cursor: pointer; }

.icn-like.active {
  float: right;
  color: #fe8a8b; }

/* header */
a {
  text-align: center; }
