/* スライドメッセージ表示用 */
.msg-slide{
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122,206,230,0.6);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

/* エラーメッセージ表示用 */
label.err input, label.err select{
  background: #f7dcd9;
}

/* 画像ドロップ */
.form .area-drop{
  margin-bottom: 15px;
  width: 100%;
  height: 140px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  line-height: 150px;
  position: relative;
  box-sizing: border-box;
}
.form .input-file{
  opacity:0;
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる */
}
.form .prev-img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.form .imgDrop-container{
  width: 33.333%;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}
.form .counter-text{
  text-align: right;
}

/* お気に入りアイコン */
.icn-like {
  float: right;
  color: #ddd;
}
.ecn-like:hover{
  cursor: pointer;
}
.icn-like.active {
  float: right;
  color: #fe8a8b;
}

// テキストベース
* {
  color: #333;
  @font-face
{
font-family:"源ノ角ゴシック Normal" ;
src: url('https://cdn.leafscape.be/SourceHanSansJP/SourceHanSansJP-Normal_web.woff')
     format("woff");
}
}

// aタグ
a {
  text-decoration: none;
}

// ヘッダー
.header {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  background: #cbf3f0;
  &__inner {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__logo {
    margin: 0;
    padding-left: 15px;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    float: left;
    font-family: 'Fredoka One', cursive;
    &:hover {
      text-decoration: none;
    }
  }
  &__nav {
    position: relative;
    float: right;
    width: 500px;
    height: 90px;
  }
  &__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 450px;
    height: 80px;
    line-height: 80px;
  }
  &__nav ul li {
    float: right;
  }
  &__link > a{
    padding: 10px 15px; 
    font-size: 16px;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

// フッター
.footer {
  background: #cbf3f0;
  width: 100%;
  height: 60px;
  &__text {
    text-align: center;
    height: 100%;
    line-height: 60px;
  }
}

// レイアウト
.site-width {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

// フォーム
.form-container {
  margin: 100px auto;
  width: 500px;
  border: solid 5px #cbf3f059;
  padding: 30px;
}
form > .area-msg {
  padding: 0 0 15px 0;
  color: red;
} 
label {
  display: block;
}
label.err input, label.err select{
  background: #f7dcd9;
}
input[type="text"], input[type="password"], .form select,
textarea {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  height: 60px;
  width: 100%;
  border: none;
  background: #cbf3f059;
  font-size: 18px;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  background: #cbf3f059;
  vertical-align: middle;
}
input[type="submit"] {
  margin: 15px 0;
  padding: 15px 30px;
  width: 100%;
  border: none;
  background: #7466e0bf;
  color: white;
  font-size: 14px;
}
.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  font-weight: bold;
}

// ========== サイドバー ==========
// サイドバー共通
.content__2column{
  width: 200px;
  float: left;
  padding: 15px;
  min-height: 600px;
  background: #cbf3f059;
}
// index.php
.content__2column.index {
  margin-right: 20px;
}
// マイページ
.content__2column.mypage {
  margin-left: 20px;
}

.side-bar {
  &__item {
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
    text-decoration: underline;
  }
}
.ly-main {
  overflow: hidden;
  margin: 20px auto;
}
.main__wrap {
  width: 760px;
  float: left;
}
.sub-title {
  font-size: 1.5em;
  padding-left: 10px;
  margin-bottom: 15px;
  border-left: solid 5px orange;
  font-weight: bold;
}
.panel-list {
  margin-bottom: 30px;
  overflow: hidden;
  &__img {
    float: left;
    margin: 0 50px 30px 0;
  }
  &__panel-head > img{
    width: 330px;
  }
  &__panel-title {
    font-size: 18px;
  }
}
.price {
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

// トップページ
.search-form {
  &__title {
    font-size: 16px;
    font-weight: bold;
    &.sort {
      padding-top: 10px;
    }
  }
  &__input {
    padding: 10px;
    width: 100%;
  }
  &__selectbox {
    padding-top: 10px;
  }
}
.main {
  width: 760px;
  float: left;
}
.search-title {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 5px 10px;
  background: #cbf3f059;
  line-height: 40px;
}
.search-left {
  float: left;
}
.search-title .total-num {
  padding-right: 5px;
  font-weight: bold;
  font-size: 18px;
}
.search-right {
  float: right;
}
// パネル
.panel-list {
  &> .panel {
    float: left;
    margin-bottom: 15px;
    padding-right: 15px;
    min-height: 185px;
    width: 25%;
    line-height: 1.2em;
  }
  &> .panel img {
    width: 100%;
  }
  &__panel-title {
    font-size: 16px;
  }
}
